.TasksList {
  position: relative;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid black;
}

.TasksList::-webkit-scrollbar {
  display: none;
}

.List {
  list-style: none;
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
